@font-face {
  font-family: 'GEA-Grapalat';
  src        : url("../fonts/GHEAGrpalatReg.otf") format("opentype");
  font-style : normal;
}

* {
  box-sizing : border-box;
  font-size  : 100%;
  font-family: "GEA-Grapalat";
}

body {
  margin  : 0;
  padding : 0;
  overflow: hidden;
}

#root {
  display           : grid;
  height            : 100vh;
  grid-template-rows: 55px calc(100vh - 55px);
  background-color  : #202020;
}

h1,
h2,
h3,
h4 {
  color  : #403c33;
  padding: 0;
  margin : 0;
}

/* ____________ */
/* HEADER  */
/* ____________ */
header {
  height          : 55px;
  background-color: #978a77;
  display         : flex;
  align-items     : center;
  padding         : 14px;
  justify-content : space-between;
}

header>div {
  display    : flex;
  align-items: center;
}

header .menu_icon {
  display     : flex;
  margin-right: 14px;
}

header .menu_icon i {
  color     : #000;
  font-size : 33px;
  transition: 0.2s ease;
  cursor    : pointer;
}

header>.menu_icon:hover i {
  color: #fff;
}

header h1 {
  font-size     : 1em;
  text-transform: uppercase;
}

.share-icon {
  width          : 40px;
  height         : 40px;
  float          : left;
  background-size: cover;
  margin         : 0px 2px;
  opacity        : 0.7;
  cursor         : pointer;
}

.share-icon:hover {
  opacity: 1;
}

.share-icon-instagram {
  background-image: url("../img/Instagram.png");
}

.share-icon-twitter {
  background-image: url("../img/Twitter.png");
}

.share-icon-facebook {
  background-image: url("../img/FB.png");
}

.share-icon-lang {
  background-image: url("../img/EN.png");
}

.sound-icon-off {
  background-image: url("../img/sound\ off.png");
  margin-right    : 30px;
}

.sound-icon-on {
  background-image: url("../img/sound\ on.png");
  margin-right    : 30px;
}

/* ____________ */
/* BOOK  */
/* ____________ */

#book {
  opacity: 0;
  margin : auto;

}

#book .page-wrapper {
  /* background-color: #ccc; */
}

#book .page {
  background-size: 200% 100%;
}

.page.odd {
  background-size      : 200% 100% !important;
  background-position-x: 100%;
}

/* ____________ */
/* BOOK BORDER  */
/* ____________ */
#book-border {
  position       : fixed;
  top            : 55px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  bottom         : 0px;
  left           : 0px;
  right          : 0px;
}

#book-border img {
  /* width : calc(100vw * 60 / 100 + 150px); */
  height: calc(100vh - 55px - 120px + 91px);

}


.controls-start,
.controls-toc,
.controls-turn {
  width          : 40px;
  height         : 40px;
  position       : absolute;
  background-size: cover;
  cursor         : pointer;
  opacity        : 0.7;
  display        : none;
}

.controls-start:hover,
.controls-toc:hover,
.controls-turn:hover {
  opacity: 1;
}

.controls-start {
  background-image: url("../img/Home.png");
  left            : 285px;
  top             : 80px;
}

.controls-toc {
  background-image: url("../img/Content.png");
  left            : 284px;
  top             : 136px;
}

.controls-turn {
  background-image: url("../img/Slaq.png");
  left            : 1593px;
  bottom          : 116px;
  padding-top     : 44px;
  font-size       : 13px;
  color           : #978a77;
  font-weight     : bold;
  text-align      : center;
}

.page-wrapper-fix {
  width : 100%;
  height: 100%;
}

.page.even .page-wrapper-fix {
  padding: 5% 0% 5% 7%;
}

.page.odd .page-wrapper-fix {
  padding : 5% 9% 5% 5%;
  position: relative;
}

h2.article-page {
  color         : #403c33;
  font-size     : 1.8em;
  padding       : 0 0 7% 1%;
  margin-top    : 5px;
  text-transform: uppercase;
}

h2.article-page::before {
  content     : "";
  height      : 49px;
  width       : 21%;
  position    : relative;
  border-right: #403c33 1px solid;
  bottom      : 1.3em;
  left        : 4px;
}

p {
  color: #000000;
}

.page-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100%;
  padding        : 5px;
}

.toc-content {
  width : 84%;
  margin: 0 auto;
}

h2.toc-title {
  font-size     : 1.6em;
  margin-left   : 16px;
  margin-top    : 12%;
  text-transform: uppercase;
  height        : 62px;
}

h2.toc-title::before {
  content     : "";
  height      : 300px;
  width       : 21%;
  position    : relative;
  border-right: #403c33 1px solid;
  bottom      : 1.8em;
  left        : 4px;
}


.toc-grid {
  display              : grid;
  grid-template-columns: auto auto;
  grid-gap             : 22px 20px;
}

.toc-grid-item {
  padding: 0;
}

.top-title {
  margin   : 0;
  font-size: 1.1em;
  padding  : 0;
}

.toc-author-name {
  margin   : 0;
  font-size: .9em;
  padding  : 0;
}

.toc-link {
  margin : 0;
  display: block;
}

.toc-thumbnail {
  width: 89%;
  height: auto;
  display: inline-flex;
}

.toc-thumbnail:hover {
  /* border: solid 1px gray; */
}

.toc-content-second {
  margin-top: 23%;
}

.article-title {
  font-size     : 1.8em;
  position      : absolute;
  bottom        : 81px;
  right         : 117px;
  display       : inline-block;
  text-transform: uppercase;
}

.article-title::before {
  content     : "";
  height      : 300px;
  width       : 21%;
  position    : relative;
  border-right: #403c33 1px solid;
  bottom      : 1.8em;
  left        : 4px;
}

.article-author-image {
  position: relative;
  width   : 56%;
  left    : 31px;
  top     : 34px;
  display : block;
}

.article-author-sound {
  position           : absolute;
  left               : 99px;
  top                : 68%;
  height             : 41px;
  /* background-color: transparent; */
}

.article-author-info {
  position: absolute;
  right   : 64px;
  bottom  : 14.9%;
}

.article-author-info h2 {
  font-size: 1.5em;
}

.article-position {
  padding  : 0;
  margin   : 0;
  font-size: 1.1em;
}

#images-hidden {
  display: none;
}

#turnsound {
  display: none;
}

.animation-sound {
  display: none;
}

.page-article-page p {
  margin: 13px 50px 0px 50px;
  font-size: 19px;
}


.stars {
  text-align: center;
}

.date {
  /* margin-top : 0px !important; */
  text-align    : right;
  /* padding-top: 3px; */
}

.inpageVideos {}

.inpageVideos-right {
  left    : -100%;
  position: relative;
}

#coverVideo {
  position: absolute;
  height  : calc(100vh - 55px - 120px + 91px);
}

#outline {
  display: none;
}

#start {
  color         : #9b6640;
  position      : fixed;
  border        : solid 4px #9b6640;
  padding       : 1px 10px 5px 10px;
  font-size     : 1.5em;
  border-radius : 5px;
  left          : 60%;
  font-weight   : bold;
  bottom        : 22%;
  height        : 48px;
  cursor        : pointer;
  /* line-height: 1.4em; */
  /* display    : inline-block; */
}

#start:hover {
  box-shadow: white 0px 0px 10px;
}

#coverAudio {
  display: none;
}

.green-audio-player {
  width           : 53%;
  min-width       : 57%;
  height          : 21px;
  top             : 42px;
  position        : relative;
  background-color: transparent;
  box-shadow      : none;
  left            : 40px;
}

.green-audio-player .slider .gap-progress .pin {
  background-color: #566574;
}

.green-audio-player .slider .gap-progress {
  background-color: #566574;
}

.green-audio-player .volume {
  display: none;
}

.hoverImage {
  position: absolute;
}


.full-page-video {
  position        : absolute;
  top             : 0;
  left            : 0;
  /* right        : 0; */
  /* bottom       : 0; */
  width           : 200%;
  height          : 100%;
  background-color: black;
}

.page-article-page {
  /* padding-top: 25px; */
  font-size: 19px;
  /* align-self: center; */
  /* display: grid; */
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
}

.full-page-video-right {
  left: -100%;
}

.page-info {
  position: absolute;
  color: #72695d;
}

.page-info .title{
  font-weight: bold;
}